actionlib==1.11.13
angles==1.9.11
base-local-planner==1.14.4
bhand-controller==0.1.2
bondpy==1.8.3
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.14
controller-manager==0.13.3
controller-manager-msgs==0.13.3
cv-bridge==1.12.8
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dynamic-reconfigure==1.5.50
gazebo-plugins==2.5.18
gazebo-ros==2.5.18
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
image-geometry==1.12.8
interactive-markers==1.11.4
laser-geometry==1.6.4
master-discovery-fkie==0.8.9
master-sync-fkie==0.8.9
message-filters==1.12.14
moveit-commander==0.9.15
moveit-ros-planning-interface==0.9.15
moveit-ros-visualization==0.9.15
pkg-resources==0.0.0
pluginlib==1.11.3
pr2-power-board==1.1.7
py-trees==0.5.10
python-nmap==0.6.1
python-qt-binding==0.3.4
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
resource-retriever==1.12.4
rocon-console==0.3.2
rocon-python-utils==0.3.2
rosbag==1.12.14
rosboost-cfg==1.14.4
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rosserial-client==0.7.7
rosserial-python==0.7.7
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-bhand==0.1.2
rqt-console==0.4.8
rqt-controller-manager==0.13.3
rqt-dep==0.4.9
rqt-ez-publisher==0.5.0
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-joint-trajectory-controller==0.13.4
rqt-joint-trajectory-plot==0.0.2
rqt-launch==0.4.8
rqt-launchtree==0.2.0
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-multiplot==0.0.10
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-pr2-dashboard==0.4.0
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-py-trees==0.3.1
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rqt-wrapper==0.1.4
rviz==1.12.16
sensor-msgs==1.12.7
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
srdfdom==0.4.2
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
tf2-sensor-msgs==0.5.20
topic-tools==1.12.14
unique-id==1.0.5
ur-driver==1.2.1
urdfdom-py==0.3.3
xacro==1.11.3
